<div class="container">
  <h1>Monster Selection</h1>
 <!-- {{diagnostic}} -->
  <form (ngSubmit)="onSubmit()" #submitForm="ngForm">
    <div class="form-group">
      <label for="Monster1">Monster 1</label>
      <select class="form-control" id="Monster1" required [(ngModel)]="model.name" name="name">
        <option *ngFor="let monster of monsterArray" [value]="monster">{{monster}}</option>
      </select>
      <input name="team1" required [(ngModel)]="model.team" name="team" #team1>
    </div>

    <div class="form-group">
      <label for="Monster2">Monster 2</label>
      <select class="form-control" id="Monster2" required [(ngModel)]="model1.name" name="name">
        <option *ngFor="let monster of monsterArray" [value]="monster">{{monster}}</option>
      </select>
      <input name="team2" required [(ngModel)]="model1.team" #team2>
    </div> 

    <button type="submit" class="btn btn-success" [disabled]="!submitForm.form.valid">Submit</button>
  </form>

  <div *ngIf="battleResults.actionList">
    <div *ngFor="let action of battleResults.actionList"> {{action.finalStatement}}</div>
  </div>

  <form [formGroup]="monsterForm" (ngSubmit)="onAddMonster()">
    <div formArrayName="monsters">
        <h3>Monsters</h3> <button (click)="addAlias()">Add Monster</button>
      
        <div *ngFor="let monster of monsters.controls; let i=index">
          <div formGroupName="{{i}}">
            <label>MonsterName:
              <input type="text" formControlName="monsterName">
            </label>
            <label>MonsterTeam:
                <input type="text" formControlName="monsterTeam">
              </label>
          </div>
        </div>
    </div>
    <button type="submit" [disabled]="!monsterForm.valid">Submit</button>
  </form>
</div>