<div class="main">
  <h1>Monster Selection</h1>
 <!-- {{diagnostic}} -->

 <form [formGroup]="monsterForm" (ngSubmit)="onSubmit()">
    <button type="button" (click)="addTeam()">Add Team</button>
    <div formArrayName="teams" class="container">       
        <div *ngFor="let team of teams.controls; let i=index">
          <br>
          <div formGroupName="{{i}}" class="item" id="team{{i+1}}">
            <label>Team {{team.controls.teamNumber.value}}</label>
            <div formArrayName="monsters">
                <div *ngFor="let monster of team.controls.monsters.controls; let a=index">
                  <div formGroupName="{{a}}">
                    <select required name="name" formControlName="monsterName">
                      <option *ngFor="let monster of monsterNameList" [value]="monster">{{monster}}</option>
                    </select> 
                  </div>                  
                </div> 
                <button type="button" (click)="addMonster(team)">Add Monster</button>
            </div>
          </div>
        </div>
    </div>
    <br>
    <button type="submit" [disabled]="!monsterForm.valid">Simulate</button>
	<button type="button" (click)="onSubmit(true)" [disabled]="!monsterForm.valid">Detailed Simulate</button>
  </form>

  <div *ngIf="battleResults.actionList">
      <div>Winning team: {{battleResults.winningTeam}}</div>
      <div *ngFor="let action of battleResults.actionList"> {{action.finalStatement}}</div>
  </div>
</div>